.navbar a.navbar-brand
	{
		/*line-height: unset;
		height: auto;*/

		font-family: 'Averia Serif Libre', cursive;
		font-size: 2.5em;
		color: black;
	}

h1, h3
	{
		font-family: 'Averia Serif Libre', cursive;
		font-size: 1.8em;
	}